@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif, arial;
}

article {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-form {
    background-color: #ffffff87;
    max-width: 500px;
    width: 100%;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 25px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.369);
}

#title-form {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

#feedback {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 25px;
}

#mensagem-erro {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 20px;
}

 .dados-pessoais, .regiao, .genero, .area, .resumo {
    margin: 20px 0;
}

.dados-pessoais > form {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.dados-pessoais > form > label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.dados-pessoais > form > input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 255, 0.369);
    cursor: text;
}

.dados-pessoais  input::placeholder {
    font-size: 17px;
}

.regiao > select {
    padding: 3px 8px;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 255, 0.369);
    cursor: pointer;
}

.regiao > h2 {
        margin-bottom: 8px;
}

.genero > form > span{
    margin: 0  0 2px 0;
}

.opcao-genero {
    display: flex;
    gap: 5px;
}

.genero > h2 {
    margin-bottom: 8px;
}

.area > form > span{
    margin: 0  0 2px 0;
}

.area > h2 {
    margin-bottom: 8px;
}

.resumo > textarea {
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 255, 0.369);
    width: 100%;
    cursor: text;
}

.resumo  textarea::placeholder {
    font-size: 16px;
}

.resumo > h2 {
    margin-bottom: 8px;
}

#btn-submit {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-submit:hover {
    background-color: #0056b3;
}