:root {

    --cor0: #58D8EF;
    --cor1: #7E85F0;
    --cor2: #35A5EF;
    --cor3: #2783df;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(90deg, #58D8EF, #2783df);
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    text-align: center;
    padding: 20px;
}

main {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: justify;
}

main img {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #7E85F0;
}

#sobre-min > p {
    margin-bottom: 20px;
}

#experiencias > h2 {
    margin: 20px 0px;
}
#experiencias > p {
    margin-bottom: 20px;
}

#experiencias > ul {
    margin: 0px 0px 10px 10px;
    list-style-type: circle;
    font-weight: bold;
}


#redes-sociais > p {
    margin-bottom: 20px;
}

#redes-sociais > h2 {
    margin: 20px 0px;
}
#redes-sociais > p {
    margin-bottom: 20px;
}

#redes-sociais > ul {
    margin: 0px 0px 10px 10px;
    list-style-type: circle;
    font-weight: bold;
}

#redes-sociais a {
    color: black; 
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 8px;
}