@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {

    --gold: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --green: hsl(179, 100%, 13%);

    --paragrafo-cor: hsla(0, 0%, 100%, 0.75);
    --titulo-cor: hsl(0, 0%, 95%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: var(--titulo-cor);
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px;
    margin: auto;
    height: 100vh;
    max-width: 1000px;
}

.container {
    display: flex;
    min-height: 500px;
}

.bloco#sedans {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bloco#luxury {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bloco {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.bloco img {
    width: 80px;
    margin: 20px 0;
}

.bloco h1 {
    color: var(--titulo-cor);
    margin: 15px 0;
}

.bloco p {
    color: var(--paragrafo-cor);
    line-height: 1.6em;
    margin: 15px 0;
}

.bloco button {
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    margin-top: 80px;
}

#sedans {
    background-color: var(--gold);
}

#suvs {
    background-color: var(--cyan);
}

#luxury {
    background-color: var(--green);
}