* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
}

header {
    background-color: white;
    max-width: 1200px;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding: 10px 0px;
    margin: 0 auto;
}

.letra1 {color: purple; font-size:50px; font-weight: bold;}
.letra2 {color: greenyellow; font-size:50px; font-weight: bold; margin: 0px -2px;}
.letra3 {color: orangered; font-size:50px; font-weight: bold;}

.topo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.barra-busca {
    display: flex;
    flex: 1;
    margin-left: 30px;
}

.barra-busca input {
    font-size: 1.2em;
    flex: 1;
    padding: 18px;
    border: 1px solid purple;
    border-radius: 5px;
}

.barra-busca button {
    background-color: #f28000;
    padding: 0 20px;
    margin-left: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 1.4em;
}


nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    font-weight: bolder;
    color: purple;
    cursor: pointer;
}

.anuncio {
    max-width: 1750px;
    margin: 0 auto;

}

.anuncio img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

main {
    max-width: 1800px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    margin: 20px 0;
    font-size: 23px;
    color: #333;
}

.container-imagem {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 2%;
    row-gap: 30px;
    margin-top: 20px;
}

.container-imagem a {
    color: black;
    text-decoration: none;
}

figure {
    background-color: rgba(128, 128, 128, 0.489);
    border-radius: 20px;
    padding: 0px;
}

figure img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

figcaption {
    font-size: 1.1em;
    padding: 15px;
    gap: 8px
}

footer {
    color: black;
    font-size: 1.2em;
    font-style: italic;
    padding: 30px;
    text-align: center;
}