@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

/* Código Reset no CSS */
/* 1. Remove margens e paddings padrão e define o box-sizing */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Melhora a renderização de fontes e suavidade */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-family: kufam, sans-serif; /* Troque pela fonte do Figma */
}
/* 3. Ajustes para elementos de mídia */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 4. Remove estilos padrão de botões e links */
button, input, select, textarea {
  font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}

body {
    background-image: url("../imagens/fundo-mine.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  max-width: 1216px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  padding-top: 48px;
}

nav ul {
  display: flex;
  gap: 48px;
}

nav ul li {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 600;
  padding: 10px 32px;
  border-radius: 6px;
}

nav ul li.destaque-header {
  background-color: #FFFFFF;
  color: #269E6D;
}

main {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  flex: 1;
}

.container-login {
  background-color: #262626cc;
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
  border-radius: 12px;
  max-width: 497px;
  width: 100%;
}

.container-login > a {
  color: #269E6D;
  font-size: 1em;
  text-align: center;
}

.general-login-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.general-login-logo img {
  padding-bottom: 9px;
}

.login .input-login {
  background-color: #262626;
  color: #BAACAC;
  padding: 12px 16px;
  border-radius: 3px;
  border: 1px solid #414141;
  width: 100%;
}

.input-login::placeholder {
  font-size: 14px;
}

.login-email {
  padding-bottom: 24px;
}

.login h3{
  padding-bottom: 6px;
  font-size: 14px;
  color: #FFFFFF;
}

.checkbox-senha {
  color: #FFFFFF;
  display:flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  cursor: pointer;
}

.checkbox-senha p {
  font-size: 12px;
}

.general-login-logo button {
  background-color: #269E6D;
  color: #FFFFFF;
  padding: 12px 0;
  margin: 46px 0 48px 0;
  outline: 5px solid #ffffff0f;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -2px 1px #FFFFFF;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1216px;
  padding: 48px 0;
  gap: 48px;

}

.footer-control section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: #FFFFFF;
}

footer section img {
  padding-bottom: 16px;
}


@media only screen and (max-width: 1250px) {

  body {
    background-image: url("../imagens/fundo-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

  header {
    display: flex;
    flex-direction: row;
    gap: 800px;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }

  .linha {
    background-color: #FFFFFF;
    height: 3px;
    width: 100%;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: -1216px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: -1216px;
  }

}

@media only screen and (max-width: 1000px) {

    body {
      background-image: url("../imagens/fundo-mobile.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; 

      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

    header {
    display: flex;
    flex-direction: row;
    gap: 700px;
  }

   main {
    min-width: 600px;
  }

  .container-login {
    min-width: 100%;
  }
  
  .general-login-logo {
    min-width: 100%;
    padding: 0 30px;
  }
  
}

