:root {

    --cor0: #58D8EF;
    --cor1: #7E85F0;
    --cor2: #35A5EF;
    --cor3: #2783df;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    text-align: center;
    padding: 20px;
}

main {
    background-color: white;
    text-align: justify;
    font-size: 16px;
    max-width: 600px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

main img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #7E85F0;
}

#sobre-min h2 {
    padding-bottom: 10px;
}

#experiencias > h2 {
    padding-bottom: 10px;
    margin-top: 10px;
}

#experiencias > p {
    margin-bottom: 20px;
}

#experiencias > ul {
    margin: 0px 0px 10px 10px;
    list-style-type: none;
    font-weight: bold;
}

#redes-sociais > h2 {
    margin: 20px 0px;
}

#redes-sociais > ul {
    margin: 0px 0px 10px 10px;
    list-style-type: none;
    font-weight: bold;
}

#redes-sociais a {
    color: black; 
    text-decoration: none;
}

footer {
    background-color: #6ca7e3be;
    text-align: center;
    padding: 8px;
}