@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

main {
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.container {
    display: flex;
    background-color: #6fb4f5bd;
    box-shadow: 5px 5px 10px rgba(0, 0, 139, 0.356);
    border-radius: 5px;
    min-height: 430px;
    max-width: 700px;
    width: 100%;
    margin: 0 10px;
}

.dados-principais {
    border-radius: 5px 0 0 5px;
    width: 100%;
    padding: 10px 20px;
}

.dados-principais h1 {
    color: #3a52a0;
    font-size: 28px;
    margin: 25px 0;
}

#form-dados-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-dados-group input {
    background-color: #578dddcc;
    border: 1px solid #5071f5;
    border-radius: 5px;
    padding: 3px;
    cursor: text;
}

#form-dados-group input::placeholder {
    color: white;
}

#opcoes {
    background-color: #578dddcc;
    color: white;
    border: 2px solid #5071f5;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

#btn-gerar {
    background-color: rgba(166, 217, 233, 0.801);
    font-weight: bold;
    border: 2px solid #5071f5;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    padding: 3px;
    cursor: pointer;
}

#btn-gerar:hover {
    background-color: #ACC5E6;
}

.cracha-container {
    border-radius: 0 5px 5px 0;
    min-height: 350px;
    max-width: 250px;
    width: 100%;
    padding: 15px 10px 15px 0;
}

.foto-cracha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    color: white;
    align-items: center;
    text-align: center;

    border: 3px solid #5071f5;
    border-radius: 25px;
    padding: 20px;
    height: 100%;
}

#nome-cracha {
    font-size: 20px;
}

#cargo-cracha {
    font-weight: 700;
}

#dep {
    background-color: #578dddcc;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 20px;
}